.auth-page-content{
    padding: 100px 0 40px;

    @media (max-width: $screen-xs-max) {
        padding: 0;
    }

    h2{margin-bottom: 20px;}

    .large-text{
        font-size: 22px;
        font-weight: 600;
        line-height: 1.1;
    }
}
.reg-info{
    font-size: 16px;
    max-width: 470px;

    h2{
        margin-bottom: 10px;
    }
}
.container-fluid > .auth-form-section{
    .reg-info{max-width: 600px;}
}
.auth-form-section{
    &+.auth-form-section{margin-top: 50px;}
    @media (max-width: $screen-xs-max) {
        margin-bottom: 40px;
    }

    .inline-checkboxes{
        white-space: nowrap;
        display: flex;
        align-items: center;
        min-height: 50px;

        .radio, .checkbox{margin: 0;}
        .radio + .radio{margin-left: 15px;}
        .checkbox + .checkbox{margin-left: 15px;}
    }
}


.reg-btn{
    margin-top: 20px;
    .btn{max-width: 200px;}
}
.login-form{
    max-width: 400px;

    .form-label{
        color: rgba(0,0,0,.7);
        font-weight: 400;
    }

    .form-btn{
        display: flex;
        align-items: center;
        .btn{width: auto;min-width: 130px;}
        .btn + a{margin-left: 30px;}

        a{
            font-weight: 700;
            color: $color-blue;
            text-decoration: underline;

            &:focus{color: $color-blue;}
            &:hover{color: $color-red;text-decoration: none;}
        }
    }
}

.auth-socials{
    margin: 0 -10px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a{
        display: block;
        margin: 0 10px;
        color: $color-blue;
        font-size: 24px;
        line-height: 1;
        text-decoration: none!important;

        &:focus{color: $color-blue;}
        &:hover,
        &.active{color: $color-red;}
    }
}

.form-group-append-btn{
    display: flex;
    align-items: stretch;

    .btn{flex: 1;padding: 0 15px;margin-left: 10px;}
}

.reg-steps{
    margin-bottom: 35px;
    display: flex;
    align-items: center;

    .reg-step{
        position: relative;
        margin-left: 50px;
        width: 50px;
        min-width: 50px;
        height: 50px;
        border: 2px solid $color-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 30px;

        &:before{
            content: '';
            position: absolute;
            width: 51px;
            right: 100%;
            top: 50%;
            height: 1px;
            background-color: $color-blue;

        }

        &.active{
            border-color: $color-red;
            background-color: $color-red;
            color: $color-white;

            &:before{background-color: $color-red;}
        }
        &:first-child{
            margin-left: 0;
            &:before{
                display: none;
            }
        }
    }
}
