.bonuses-top{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
    color: $color-red;
    margin-bottom: 60px;

    @media (max-width: $screen-xs-max) {
        font-size: 18px;
    }

    .bonuses-top-title{
        font-size: 50px;
        line-height: .9;
        font-weight: 900;
        text-transform: uppercase;

        @media (max-width: $screen-xs-max) {
            font-size: 24px;
            margin-bottom: 5px;
        }
    }
}

.bonuses-table{
    tbody{
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
    }
}

.bonuses-datepicker{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        right: 10px;
        margin-top: -6px;
        top: 50%;
        transform: rotate(45deg);
        border-right: 2px solid $color-black;
        border-bottom: 2px solid $color-black;
        width: 8px;
        height: 8px;
        pointer-events: none;
    }
    input{
        margin: 0;
        height: 30px;
        background-color: transparent;
        padding: 0 55px 0 10px;
        border: 1px solid $color-black;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
}
