.btn{
    display: flex;
    align-items: center;
    height: 56px;
    padding: 4px 36px;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    transition: color .2s ease-out, opacity .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 4px;

    &.btn-white-transparent{
        background-color: transparent;
        border: 1px solid $color-white;
        color: $color-white;

        &:focus{
            color: $color-white;
        }
        &:hover,
        &:active{border-color: $color-yellow;}
    }

    &.btn-white{
        background-color: $color-white;
        color: $color-violent;

        &:focus{
            color: $color-violent;
        }
        &:hover,
        &:active{color: $color-black;}

        &:disabled{
            opacity: .4;
        }
    }
}
