.calendar-nav{
    display: flex;
    align-items: flex-start;

    .b-partner-link{
        margin-left: 30px;
        display: flex;
        align-items: center;
        min-height: 30px;
        img{
            max-height: 18px;
        }

        @media (max-width: 400px) {
            display: none;
        }
    }

    .view-types{margin-left: 25px;}
}
.calendar-monthes{
    flex: 1;
    @media (max-width: $screen-sm-max) {
        margin: 0 -15px;
    }

    .calendar-monthes-list{
        display: flex;
        align-items: center;

        @media (max-width: $screen-sm-max) {
            padding: 0 15px;
        }

        .mounth-item{
            display: flex;
            align-items: center;
            min-height: 30px;
            position: relative;
            padding: 4px 0;
            font-size: 16px;
            font-weight: 600;
            white-space: nowrap;
            text-transform: uppercase;
            color: rgba(0,0,0,.5);
            text-decoration: none!important;

            &:before{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                transition: width .2s ease-out;
                height: 4px;
                background-color: $color-red;
            }

            &:focus{color: rgba(0,0,0,.5);}
            &.active,
            &:hover{color: $color-black;}
            &.active:before{width: 100%;}
        }
        .mounth-item+.mounth-item{
            margin-left: 30px;
            @media (max-width: $screen-sm-max) {
                margin-left: 20px;
            }
        }
    }

}

.calendar-container{margin-top: 30px;}
.calendar-header{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    @media (max-width: $screen-md-max) {
        margin-bottom: 10px;
    }

    @media (max-width: $screen-sm-max) {
        display: none;
    }

    .calendar-header-col{
        padding: 0 10px;
        text-align: center;
        line-height: 1px;
        width: 14.28%;
        color: $color-gray-text;
        text-transform: uppercase;
    }
}

.calendar-grid{
    display: flex;
    align-items: stretch;
    margin: 0 -10px;
    flex-wrap: wrap;

    @media (max-width: $screen-md-max) {
        margin: 0 -3px;
    }
    @media (max-width: $screen-sm-max) {
        display: block;
    }

    .calendar-grid-col{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 14.28%;

        @media (max-width: $screen-md-max) {
            padding: 3px;
        }
        @media (max-width: $screen-sm-max) {
            width: auto;
            padding: 0;
            margin-bottom: 20px;
            display: block;
        }

        &.calendar-item-empty{
            @media (max-width: $screen-sm-max) {
                display: none;
            }
        }
    }

    .calendar-item{
        display: flex;
        flex-direction: column;
        min-height: 150px;
        padding: 5px 8px;
        border-radius: 6px;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.13);
        background-color: $color-white;
        transition: box-shadow .2s ease-out;
        text-decoration: none!important;
        color: $color-black;


        @media (max-width: $screen-sm-max) and (min-width: 400px) {
            flex-direction: row;
            min-height: 80px;
            align-items: center;
            padding: 10px 20px;
        }

        &:focus,
        &:hover{color: $color-black;}
    }

    a.calendar-item:hover{
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.23);
        .match-center-link{
            color: $color-red;
        }
        .calendar-tickets-link{
            background-color: $color-red;
        }
    }

    .calendar-item-body{
        flex: 1;
        padding: 5px 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .calendar-teams{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;

        @media (max-width: $screen-sm-max) and (min-width: 400px) {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 400px) {
            font-size: 18px;
        }

        .team{flex: 1;}
        .team-logo{
            max-width: 30px;
            margin: 0 auto 3px;

            @media (max-width: 400px) {
                max-width: 50px;
            }
        }
        img{
            max-height: 34px;
            @media (max-width: 400px) {
                max-height: 50px;
            }
        }
        .team-name{
            white-space: nowrap;
            margin-top: 2px;
            line-height: 1;
        }
    }

    .calendar-item-score{
        text-align: center;
        white-space: nowrap;
        margin: 0 5px 6px;
        padding-bottom: 4px;
        font-weight: 700;
        color: $color-dark;
        text-transform: uppercase;
        position: relative;
        min-width: 55px;

        .calendar-item-score-diff{
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            color: $color-gray-text;
            font-weight: 400;
        }
        .calendar-item-score-overtime{
            position: absolute;
            right: 0;
            bottom: 100%;
            font-size: 10px;
            color: $color-gray-text;
            font-weight: 400;
        }
    }
    .calendar-item-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;

        .calendar-item-date{
            font-size: 16px;
            font-weight: 600;
            color: $color-black;
            @media (max-width: $screen-sm-max) {
                display: none;
            }
        }

        .calendar-item-time{
            flex: 1;
            padding: 0 10px;
            color: $color-gray-text;
            text-transform: uppercase;
            text-align: center;
            @media (max-width: $screen-sm-max) {
               text-align: left;
            }
        }
        .calendar-item-stadium{
            font-size: 18px;
            line-height: 1;
            color: $color-gray-text-2;

        }
    }

    .match-center-link{
        text-align: center;
        color: $color-blue;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;
        transition: color .2s ease-out;
        line-height: 1.2;
        @media (max-width: 400px) {
            padding-bottom: 5px;
        }
    }

    .calendar-grid-col.calendar-prev-mouth{
        .calendar-item-header{
            .calendar-item-date{color: $color-gray-text;}
        }
    }

    .calendar-odds-list{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        line-height: 1;
        color: $color-gray-text;
        white-space: nowrap;

        @media (max-width: $screen-sm-max) and (min-width: 400px) {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
        }

        .calendar-b{
            max-width: 55px;
            min-width: 55px;
            text-align: center;
            margin: 0 3px;
            flex: 1;
            img{max-height: 10px;}
        }
        .calendar-odd{
            text-align: center;
            flex: 1;
        }
    }
    .calendar-tickets-link{
        margin: 0 -10px -5px;
        border-radius: 0 0 6px 5px;
        transition: background-color .2s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 10px;
        height: 34px;
        color: $color-white;
        background-color: $color-black;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: $screen-sm-max) and (min-width: 400px) {
            border-radius: 0;
            min-width: 82px;
        }
    }
}

.calendar-grid-col-date-mobile{
    display: none;

    @media (max-width: $screen-sm-max) {
        display: block;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 10px;
        color: $color-black;
    }
}


.calendar-section-header{
    .view-types{
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
}
