.page-slide-section-carousel{
    margin: 0 -15px;
    .slick-slide{padding: 0 15px;}
    .slick-arrow{
        transform: none;
        top: -75px;

        @media (max-width: $screen-xs-min) {
            top: 30%;
            transform: translateY(-50%);
            border: 1px solid $color-gray-text;
            display: none!important;
        }

        &.slick-prev{
            left: auto;
            right: 70px;

            @media (max-width: $screen-xs-min) {
                left: 10px;
            }
        }
        &.slick-next{
            right: 15px;

            @media (max-width: $screen-xs-min) {
                right: 10px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .page-slide-section-carousel .slick-list{margin: 0 -30px;padding: 0 30px;}
}

@media (max-width: 530px) {
    .page-slide-section-carousel .slick-list{margin: 0 0 0 -30px;}
}
