.delivery-page-content{
    max-width: 800px;
}

.delivery-text-top{
    margin-top: -15px;
    margin-bottom: 60px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.36;
    position: relative;
    z-index: 5;

    @media (max-width: $screen-xs-max) {
       margin-top: -5px;
        font-size: 18px;
        margin-bottom: 40px;
    }
}

.delivery-page-section+.delivery-page-section{margin-top: 60px;}

.delivery-page-section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $screen-xs-max) {
       display: block;
    }

    h2{
        margin: 0 10px 30px 0;
        @media (max-width: $screen-xs-max) {
            margin: 0 0 20px 0;
        }
    }
    .nav-tabs{
        margin-bottom: 20px;

        @media (max-width: $screen-xs-max) {
           margin-bottom: 25px;
            display: flex;
            justify-content: space-between;
        }
    }

    .tabs-default{
        @media (max-width: $screen-xs-max) {
            max-width: 450px;
        }
    }
}

.order-track-form{
    .form-label{color: $color-gray-text-2;font-weight: 400;}
    .btn{
        margin-top: 0;

        @media (min-width: $screen-xs-min) {
            margin-top: 25px;
        }
    }
}

.order-track-results{
    margin-top: 15px;
    h3{margin-bottom: 10px;}

    &-list{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            position: relative;
            padding-left: 30px;

            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                background: transparent url('../../assets/tick.svg') 50% 50% no-repeat;
                background-size: contain;
            }

            a{
                color: $color-blue;
                font-weight: 700;
                text-decoration: underline;

                &:hover{text-decoration: none;color: $color-red;}
            }
        }
        li+li{margin-top: 10px;}
    }
}

.delivery-form{
    margin-top: 30px;

    .order-list{margin-bottom: 20px;}
    .form-label{color: $color-gray-text-2;font-weight: 400;}
    .btn{
        margin-top: 0;

        @media (min-width: $screen-xs-min) {
            margin-top: 25px;
        }
    }
}

.delivery-results{
    width: 100%;
    max-width: 315px;
    vertical-align: top;
    margin-top: 25px;
    @media (max-width: $screen-xs-max) {
       max-width: 100%;
    }

    td{
        padding: 5px 5px 5px 0;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
