.err-404 ~ .bottom-sponsors{
    padding-bottom: 60px;
}

.err-404{
    position: relative;
    padding: 110px 0;
    z-index: 10;
    min-height: 500px;

    @media (max-width: $screen-sm-max) {
        padding: 20px 0 0;
        min-height: auto;
    }

    &:before{
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        bottom: 0;
        width: 100vw;
        z-index: -1;
        pointer-events: none;
        background: transparent url('../../assets/404.png') 100% 50% no-repeat;
        background-size: auto 100%;

        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }

    .err-404-title{
        font-size: 60px;
        font-weight: 600;
        color: $color-red;
        line-height: 1;
        margin-bottom: 10px;
        @media (max-width: $screen-sm-max) {
            font-size: 40px;
        }
        @media (max-width: $screen-xxs) {
            font-size: 30px;
        }

        h1{
            font-size: 200px;
            font-weight: 700;
            display: inline;
            color: $color-red;
            margin-right: 20px;

            @media (max-width: $screen-sm-max) {
                display: block;
                margin-bottom: 15px;
                font-size: 100px;
            }
            @media (max-width: $screen-xxs) {
                font-size: 80px;
                line-height: 1;
            }
        }
    }

    .err-404-text{
        font-size: 16px;
        max-width: 670px;

        @media (max-width: $screen-xxs) {
            font-size: 14px;
        }

        a{
            font-weight: 700;
            color: $color-dark-blue;
            text-decoration: underline;

            &:hover{
                color: $color-red;
                text-decoration: none;
            }
        }
    }
}

.err-404-search{
    position: relative;
    max-width: 570px;
    margin-top: 30px;

    &:first-child{margin-top: 0;}

    input{
        background-color: transparent!important;
        border-width: 0 0 1px 0;
        color: $color-black;
        padding: 0 40px 0 0;
    }
    .search-submit{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 22px;
        color: $color-black;
        background: none;
        border: 0;
        cursor: pointer;
        transition: color .2s ease-out;

        &:hover{color: $color-red;}
    }
}
