.faq-content{
    .err-404-search{
        margin-bottom: 40px;
    }
    .faq-form{
        margin-top: 60px;
    }
}

.faq-section+.faq-section{margin-top: 40px;}

.faq-item+.faq-item{margin-top: 15px;}

.faq-section{

    &-title{
        margin-bottom: 20px;
        line-height: 1.2;
        font-size: 22px;
        font-weight: 600;
    }

    .faq-item-title{
        font-size: 16px;
        font-weight: 600;
        color: $color-red;
        text-decoration: none;
        display: inline-block;
        line-height: 1.2;

        &.collapsed{
            color: $color-gray-text-2;

            &:hover{
                color: $color-red;
            }
        }

        &:hover{
            text-decoration: underline;
            color: $color-red;
        }

    }

    .faq-item-content{
        padding: 20px 0 5px;
    }

    .faq-item-text{
        background-color: $color-white;
        font-size: 16px;
        padding: 30px;
    }

}
