.footer{
    position: relative;
    margin-top: 60px;

    &-top{
        border-top: 6px solid $color-red;
        padding: 70px 0;
        background-color: $color-white;

        @media (max-width: $screen-sm-max) {
            padding: 40px 0;
        }

        &-advantages{
            display: flex;
            align-items: center;
            margin: 0 -20px;

            @media (max-width: $screen-sm-max) {
                flex-wrap: wrap;
            }
            @media (max-width: $screen-xs-min) {
                display: block;
            }


            &-item{
                flex: 1;
                display: flex;
                align-items: center;
                padding: 0 20px;

                @media (max-width: $screen-sm-max) {
                    flex: auto;
                    width: 50%;
                }
                @media (max-width: $screen-xs-min) {
                   width: auto;
                    justify-content: center;
                }
            }

            &-icon{
                font-size: 70px;
                margin-right: 25px;

                .icon-arrows,
                .icon-sale{font-size: 80%;}

                @media (max-width: $screen-xs-min) {
                    font-size: 60px;
                }
            }

            &-text{
                font-size: 18px;
                line-height: 1.1;
                flex: 1;

                @media (max-width: $screen-sm-max) {
                   max-width: 200px;
                }
            }
        }
    }

    &-content{
        color: $color-white;
        background: $color-dark-blue url('../../assets/footer-bg@2x.jpg') 0% 50% no-repeat;
        background-size: cover;

        @media (max-width: $screen-md-max) {
            background-image: url('../../assets/footer-bg.jpg');
        }
        @media (max-width: $screen-xs-max) {
            background-image: none;
        }
    }
    &-menu{
        padding: 65px 0;
        border-bottom: 1px solid $color-white;

        @media (max-width: $screen-md-max) {
           padding: 40px 0;
        }
        @media (max-width: $screen-xs-min) {
            padding: 25px 0 15px;
        }

        &-list{
            display: flex;
            align-items: flex-start;
            margin: 0 -10px;
            padding: 0;
            list-style: none;
            justify-content: space-between;

            @media (max-width: $screen-sm-max) {
                flex-wrap: wrap;
                margin: 0 -15px;
                justify-content: space-between;
            }
            @media (max-width: $screen-xs-min) {
                margin: 0 -10px;
            }

            li{
                padding: 0 10px;

                @media (max-width: $screen-sm-max) {
                    padding: 0 15px;
                    margin-bottom: 10px;

                    @media (max-width: $screen-xs-min) {
                        width: 50%;
                        padding: 0 10px;
                    }
                }

                a{
                    display: block;
                    text-decoration: none;
                    color: $color-white;
                    font-size: 18px;
                    font-weight: 700;

                    &:hover,&:active{
                        color: $color-red;
                    }

                    @media (max-width: $screen-md-max) {
                        font-size: 16px;
                    }
                    @media (max-width: $screen-xs-min) {
                       font-size: 14px;
                    }
                }
            }

            ul{
                list-style: none;
                margin: 0;
                padding: 10px 0 0;

                li{
                    margin-top: 10px;
                    padding: 0;
                    width: auto!important;

                    a{
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }

        &-list-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin: -30px -10px 0;
            list-style: none;
            max-width: 340px;

            @media (max-width: $screen-sm-max) {
                margin-top: 0;
            }

            li{
                padding: 0 10px;

                a{
                    display: block;
                    text-decoration: none;
                    color: $color-white;
                    font-size: 18px;
                    font-weight: 700;

                    &:hover,&:active{
                        color: $color-red;
                    }

                    @media (max-width: $screen-md-max) {
                        font-size: 16px;
                    }
                    @media (max-width: $screen-xs-min) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &-bottom{

        &-content{
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 50px 0 40px;

            @media (max-width: $screen-xs-max) {
               display: block;
            }

            a{
                color: #ffffff;
                text-decoration: none;

                &:hover, &:active{color: $color-red}
            }
        }

    }
    &-logo-container{
        display: flex;
        align-items: center;
    }
    &-logo{
        width: 80px;
        height: 119px;
        background: transparent url('../../assets/logo-footer.svg') 50% 50% no-repeat;
        background-size: contain;
        margin-right: 20px;

        @media (max-width: $screen-md-max) {
           width: 65px;
        }
    }
    &-logo-title{
        width: 220px;
        height: 60px;
        background: transparent url('../../assets/logo-title-footer.svg') 50% 50% no-repeat;
        background-size: contain;

        @media (max-width: $screen-md-max) {
            width: 200px;
        }
    }
    &-copyright{
        margin-top: 12px;
        line-height: 1.43;
    }

    &-links{
        list-style: none;
        padding: 0;
        margin: 0 0 0 30px;

        @media (max-width: $screen-xs-min) {
            margin: 30px 0 0;
        }

        li+li{margin-top: 15px;}
        a{
            font-size: 16px;
            display: inline-block;

            @media (max-width: $screen-md-max) {
                font-size: 14px;
            }
        }
    }

    &-info{
        margin: 0 0 0 30px;

        @media (max-width: $screen-xs-min) {
            margin: 30px 0 0;
        }
    }
    &-contacts{
        font-size: 18px;
        line-height: 1.44;

        p{margin: 0 0 2px;}
        span{
            display: inline-block;
            min-width: 75px;
        }

        @media (max-width: $screen-md-max) {
            font-size: 16px;
        }
    }

    &-socials{
        display: flex;
        align-items: center;
        margin: 25px 0 0 -8px;

        a{
            display: block;
            text-decoration: none;
            color: $color-white-tranparent;
            font-size: 24px;
            margin: 0 8px;

            &:hover, &:active{
                color: $color-white;
            }
        }
    }
}

.white-page-content + .footer{margin-top: 0;}

.specials-block{
    display: flex;
    align-items: flex-start;
    margin: 60px -15px 30px;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: $screen-sm-max) {
        margin-top: 40px;
        margin-bottom: 10px;
    }


    &-col{
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;

        @media (max-width: $screen-sm-max) {
           width: auto;
        }

    }
    &-col:only-child{width: 100%;}

    a{
        display: block;

        img{width: 100%;}
    }
}

.footer-auth-wrap{
    padding: 60px 0 65px;
    border-bottom: 1px solid $color-white;

    .footer-auth{
        color: $color-white;
        max-width: 370px;
        margin-left: auto;

        @media (max-width: $screen-sm-max) {
            margin: 0 auto;
        }
    }

    .footer-auth-form-title{
        font-size: 32px;
        font-weight: 700;
        line-height: 1.3;
        max-width: 270px;
        text-transform: uppercase;

        @media (max-width: $screen-sm-max) {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 660px) {
            font-size: 26px;
        }
    }

    .footer-auth-btns{
        display: flex;
        align-items: center;
        margin: 10px -10px 0;
        @media (max-width: $screen-sm-max) {
            justify-content: center;
        }

        .btn{min-width: 120px;width: auto;margin: 10px 10px 0;}
    }

}
