.checkbox{
    margin: 10px 0;
    position: relative;
    color: $color-white;

    input{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    label{
        position: relative;
        padding-left: 32px;
        display: inline-block;
        cursor: pointer;

        &:hover{
            .check-icon{
                border-color: $color-white;
            }
        }
    }
    .check-icon{
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        transition: border-color .2s ease-out;
        border: 1px solid rgba(255,255,255,.2);

        &:before{
            content: '';
            position: absolute;
            left: 7px;
            top: 3px;
            width: 6px;
            height: 10px;
            border-right: 2px solid $color-white;
            border-bottom: 2px solid $color-white;
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity .2s ease-out;
        }
    }

    input:checked + .check-icon:before{opacity: 1;}
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select{
    background: transparent;
    font-family: inherit;
    border: 0;
    border-bottom: solid 1px $color-yellow;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    width: 100%;
    transition: background-color 0.2s linear, opacity .2s ease-out, border-color .2s ease-out, color .2s ease-out;
    color: $color-white;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border-radius: 0;
    box-shadow: none!important;
    position: relative;
    /*-webkit-appearance: none;*/
}
input[type="text"]:disabled,
input[type="emain"]:disabled,
input[type="tel"]:disabled,
input[type="password"]:disabled{background-color: #f0f0f0;border-color: #cacaca;}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea{-webkit-appearance: none;}
textarea{
    line-height: 1.4;
    min-height: 105px;
    max-height: 1100px;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 100%;
    min-width: 100%;
}
select{
    -webkit-appearance: none;
    background-position: 100% 50%;
    background-image: url('../../assets/arr-select.svg');
    background-repeat: no-repeat;
    background-size: 8px 5px;
    padding-left: 0;

    option{color: $color-black;}
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
select:focus{border-color: #1f1f1f;}

.form-group{margin-bottom: 30px;}
input[type="text"].error,
input[type="password"].error,
input[type="date"].error,
input[type="datetime"].error,
input[type="email"].error,
input[type="number"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="time"].error,
input[type="url"].error,
textarea.error,
.form-error select{ 
    border-color: $color-red!important;
}

.form-group{
    margin-bottom: 16px;
}

::-ms-clear{display: none;}
::-webkit-input-placeholder {color: rgba(255,255,255,.5);}
::-moz-placeholder          {color: rgba(255,255,255,.5);}
:-moz-placeholder           {color: rgba(255,255,255,.5);}
:-ms-input-placeholder      {color: rgba(255,255,255,.5);}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent;}

.form-content{
    max-width: 545px;
    .checkbox{
        margin-top: 24px;
    }
    .form-btn{margin-top: 24px;}
}
