.garantee-bottom{
    position: relative;
    z-index: 10;
    padding: 60px 0;
    margin: 60px 0 -60px;

    &:before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 101vw;
        transform: translateX(-50%);
        background-color: $color-light-gray;

    }

    &-auth{
        &-text{
            font-size: 22px;
            font-weight: 600;
            line-height: 1;
            color: $color-black;
            margin-bottom: 30px;
        }
        &-btn{
            .btn{width: auto;min-width: 210px;}
        }
    }
}
