.header {
    background-color: transparent;
    color: $color-white;
    position: fixed;
    z-index: 300;
    left: 0;
    top: -1px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.3);
    transition: background-color .2s ease-out, border-color .2s ease-out;

    .container-fluid{
        max-width: 1440px;
        padding: 0 30px;
    }

    .logo{
        display: block;
        width: 64px;
        height: 64px;
        background: transparent url('../../assets/logo.svg') 50% 50% no-repeat;
        background-size: contain;
    }

    &.header-fxd{
        background-color: $color-violent;
    }


    @media (max-width: $screen-xs-max) {

    }

    &-content{
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: space-between;
    }

    .header-menu{
        display: flex;
        align-items: stretch;

        &-container{
            display: flex;
            align-items: stretch;
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                display: flex;
                align-items: stretch;
            }

            a{
                display: flex;
                align-items: center;
                margin-left: 40px;
                position: relative;
                white-space: nowrap;
                font-size: 16px;
                line-height: 80px;
                text-decoration: none;
                color: $color-white;

                &:before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -1px;
                    height: 2px;
                    transform: translateX(-50%);
                    width: 0;
                    transition: width .3s cubic-bezier(.76,1.32,.65,1.12);
                    background-color: $color-yellow;
                }
                &:hover,
                &:focus{color: $color-white;}
                &:hover:before,
                &.active:before{width: 100%;}
            }
        }
    }
}
