.header {
    background-color: transparent;
    color: $color-white;
    position: fixed;
    z-index: 300;
    left: 0;
    top: -1px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.3);
    transition: background-color .2s ease-out, border-color .2s ease-out;

    @media (max-width: $screen-xs-max) {
        background-color: $color-violent;
    }

    .container-fluid{
        max-width: 1440px;
        padding: 0 30px;
        @media (max-width: $screen-xs-max) {
            padding: 0 15px;
        }
    }

    .logo{
        display: block;
        width: 64px;
        height: 64px;
        background: transparent url('../../assets/logo.svg') 50% 50% no-repeat;
        background-size: contain;
        @media (max-width: $screen-xs-max) {
            width: 28px;
            height: 28px;
        }
    }

    &.header-fxd{
        background-color: $color-violent;
    }


    @media (max-width: $screen-xs-max) {

    }

    &-content{
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: space-between;
        @media (max-width: $screen-xs-max) {height: 48px;}
    }

    .header-menu{
        display: flex;
        align-items: stretch;

        &-container{
            display: flex;
            align-items: stretch;
            list-style: none;
            margin: 0;
            padding: 0;

            @media (max-width: $screen-xs-max) {
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                background-color: $color-dark-violent;
                display: block;
                text-align: left;
                padding: 32px 24px;
                transform: translateX(-100%);
                transition: transform .3s cubic-bezier(.68,.37,.51,1.03);
            }

            li{
                display: flex;
                align-items: stretch;
            }

            li+li{
                @media (max-width: $screen-xs-max) {margin-top: 16px;}
            }

            a{
                display: flex;
                align-items: center;
                margin-left: 40px;
                position: relative;
                white-space: nowrap;
                font-size: 16px;
                line-height: 80px;
                text-decoration: none;
                color: $color-white;

                @media (max-width: $screen-xs-max) {
                    line-height: 1.2;
                    display: inline-block;
                    margin-left: 0;
                }

                &:before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -1px;
                    height: 2px;
                    transform: translateX(-50%);
                    width: 0;
                    transition: width .3s cubic-bezier(.76,1.32,.65,1.12);
                    background-color: $color-yellow;

                    @media (max-width: $screen-xs-max) {display: none;}
                }
                &:hover,
                &:focus{color: $color-white;}
                &:hover:before,
                &.active:before{width: 100%;}
            }
        }
    }
}

.mobile-menu-toggle{
    display:none;
    height: 60px;
    width: 50px;
    min-width: 50px;
    margin: 0 -15px 0 0!important;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width: $screen-xs-max) {
        display: flex;
    }
}
.menu-toggle-title{
    margin-left: 12px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.165px;
    color: #FFFFFF;
}
.menu-toggle {
    width: 22px;
    height: 14px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: block;
}

.menu-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu-toggle span:nth-child(1) {top: 0px;}
.menu-toggle span:nth-child(2) {top: 7px;width: 60%;left: 40%;}
.menu-toggle span:nth-child(3) {top: 14px;}

.menu-opened .header .header-menu-container{
    transform: translateX(0);
}
.menu-opened .menu-toggle span:nth-child(1) {
    top: 6px;
    transform: rotate(135deg);
}

.menu-opened .menu-toggle span:nth-child(2) {
    opacity: 0;
    left: -10px;
}

.menu-opened .menu-toggle span:nth-child(3) {
    top: 6px;
    transform: rotate(-135deg);
}
.menu-opened .header-bottom{
    transform: translateY(0);
}
