.main-top{
    position: relative;
    background-color: $color-violent;

    .swiper-slide{
        width: 100vw;
        overflow: hidden;
    }

    .main-slide-content{
        min-height: 528px;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media (max-width: $screen-sm-max) {
           min-height: 490px;
        }
        @media (max-width: $screen-xs-max) {
            min-height: 235px;
        }
    }

    .main-slide-img{
        position: absolute;
        top: 0;
        height: 100%;
        width: 65%;
        left: 35%;
        object-fit: cover;
        opacity: .8;
        @media (max-width: $screen-sm-max) {
            left: 25%;
            width: 75%;
        }
        @media (max-width: $screen-xs-max) {
            left: 50%;
            width: 50%;
        }
    }

    .main-slider{
        padding-bottom: 108px;
        color: $color-white;
        @media (max-width: $screen-xs-max) {
            padding-bottom: 60px;
        }
    }

    .swiper-pagination{
        left: 35%;
        bottom: 34px;
        text-align: left;

        @media (max-width: $screen-sm-max) {
            left: 25%;
        }
        @media (max-width: $screen-xs-max) {
            left: 0;
            text-align: center;
            bottom: 12px;
        }
    }

    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
        width: 24px;
        height: 24px;
        margin: 0 5px 0 0;
        background: none;
        border-radius: 0;
        position: relative;

        @media (max-width: $screen-xs-max) {
           margin: 0 5px;
        }

        &:before{
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            background: rgba(255,255,255,.3);
            transition: background-color .2s ease-out;
        }

        &:hover:before{background: rgba(255,255,255,.7);}
        &.swiper-pagination-bullet-active:before,
        &.swiper-pagination-bullet-active:hover:before{background: rgba(255,255,255,1);}
    }

    .main-slide-title{
        max-width: 840px;
        font-weight: 300;
        font-size: 56px;
        line-height: 1.2;
        margin-bottom: 16px;

        @media (max-width: $screen-sm-max) {
            font-size: 40px;
        }

        @media (max-width: $screen-xs-max) {
           font-size: 24px;
            max-width: 270px;
        }
    }
}
