.photoes-section{
    position: relative;
    z-index: 1;
    color: $color-white;
    padding: 65px 0;

    @media (max-width: $screen-xs-min) {
        padding: 40px 0;
    }

    .catalogue-slider{margin-bottom: 0;}
    &:before{
        content: '';
        position: absolute;
        width: 101vw;
        left: 50%;
        min-width: 100%;
        transform: translateX(-50%);
        top: 0;
        bottom: 0;
        z-index: -1;
        background: $color-dark-blue url('../../assets/pattern@2x.jpg') 100% 50% no-repeat;
        background-size: cover;

        @media (max-width: $screen-md-max) {
            background-image: url('../../assets/pattern.jpg');
        }
    }

    &-header{
        margin-bottom: 20px;
        padding-right: 150px;

        h2{margin-bottom: 15px;}
        &-text{
            font-size: 20px;font-weight: 600;

            @media (max-width: $screen-xs-min) {
                font-size: 16px;
            }
        }

        &-btns{
            margin: 20px -10px 0 0;
            display: flex;

            .btn{margin-right: 10px;}
        }

        @media (max-width: $screen-xs-min) {
            padding-right: 0;
        }

    }
}

.photoes-page-top{
    margin-bottom: 30px;

    .photoes-page-text{
        font-size: 20px;
        font-weight: 600;
        max-width: 490px;
        margin-bottom: 25px;

        @media (max-width: $screen-xs-max) {font-size: 16px;}
    }
    .btn{width: auto;}
}

.photoes-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;

    @media (max-width: $screen-xs-max) {
        margin: 0 -8px;
    }

    &-col{
        margin-bottom: 30px;
        width: 25%;
        padding: 0 15px;

        @media (max-width: $screen-xs-max) {
           padding: 0 8px;
            margin-bottom: 16px;
            width: 50%;
        }

        a{
            display: block;
            &:hover{opacity: .7;}

            img{width: 100%;}
        }
    }
}
