.print-section{
    position: relative;
    z-index: 1;
    color: $color-white;
    padding: 65px 0;

    @media (max-width: $screen-xs-min) {
        padding: 40px 0;
    }

    select{
        background-color: transparent!important;
        border-radius: 0;
        color: $color-white;
        border-color: $color-gray-text;
    }


    &:before{
        content: '';
        position: absolute;
        width: 101vw;
        left: 50%;
        min-width: 100%;
        transform: translateX(-50%);
        top: 0;
        bottom: 0;
        z-index: -1;
        background: $color-dark-blue url('../../assets/print-bg@2x.jpg') 100% 50% no-repeat;
        background-size: cover;

        @media (max-width: $screen-md-max) {
            background-image: url('../../assets/print-bg.jpg');
        }
    }

    &-content{
        display: flex;
        align-items: flex-start;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            align-items: stretch;
        }
    }
    &-gallery{
        width: 50%;

        &-img{max-width: 350px;margin: 0 auto;position: relative;}

        .slick-dots{bottom: -10px;}

        @media (max-width: $screen-sm-max) {
            width: 30%;
        }
        @media (max-width: $screen-xs-max) {
            width: auto;
            order: 2;
            margin-top: 35px;
        }
    }
    &-info{
        width: 50%;
        padding-left: 30px;
        color: $color-white;

        @media (max-width: $screen-sm-max) {
            width: 70%;
        }
        @media (max-width: $screen-xs-max) {
            width: auto;
            padding-left: 0;
        }
    }

    &-title{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
        max-width: 400px;
        text-transform: uppercase;
        line-height: 1.2;

        @media (max-width: $screen-xs-max) {
            font-size: 22px;
        }
    }

    &-param{
        margin-bottom: 15px;
        display: flex;
        align-items: flex-start;

        @media (max-width: $screen-xs-max) {
            display: block;
        }

        &-title{
            line-height: 30px;
            white-space: nowrap;
            margin-right: 25px;
            font-size: 16px;
            font-weight: 600;

            @media (max-width: $screen-xs-max) {
                line-height: 1.2!important;
                margin-right: 0;
                margin-bottom: 10px;
                font-size: 14px;
            }
        }

        &-value{flex: 1;}

        &.param-large{
            .print-section-param-title{
                line-height: 50px;
            }
        }

        .size-help{
            color: $color-red;
            font-weight: 700;
            text-decoration: none;
            margin-left: 15px;
            text-transform: uppercase;

            &:hover{color: $color-white;text-decoration: none;}
        }

        .size-item{

            &-label{
                border: 1px solid $color-gray-text;
                color: $color-white;

                &:hover{border-color: $color-red;}
            }


        }


    }

    .chosen-container-single .chosen-single{
        height: 50px;
        background-color: $color-dark-blue!important;
        padding-left: 15px;
        line-height: 49px;
        border-color: $color-white!important;
        color: $color-gray-text;
        font-weight: 400;
        text-transform: none;

        div{
            width: 40px;
            b{
                border-color: $color-gray-text;
            }
        }
    }
    .chosen-container .chosen-drop{border-color: $color-white;}

    input[type="text"]{
        background-color: transparent;
        border-color: $color-gray-text;
        color: $color-white;
        font-weight: 400;

        &:focus{border-color: $color-white;}
    }

    .nav-tabs{
        .nav-link{
            color: $color-white;
        }
    }


}


.print-types{
    margin-top: 50px;
}

.print-bottom{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.print-price{
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 32px;
    margin: 0 25px;
}
.catalogue-detail-gallery{

    .print-name{
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-30%);
        pointer-events: none;
        font-family: 'Helvetica', 'Arial Black', 'Arial', sans-serif;
        font-weight: 900;
        white-space: nowrap;
        font-size: 30px;
        color: #003274;
        -webkit-text-stroke: 2px #d61920;
    }

    .print-number{
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-30%);
        pointer-events: none;
        font-family: 'Helvetica', 'Arial Black', 'Arial', sans-serif;
        font-weight: 900;
        white-space: nowrap;
        font-size: 100px;
        color: #003274;
        -webkit-text-stroke: 2px #d61920;
    }

}
