.reviews-list-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px;

    .review-list-title{
        font-size: 16px;
        color: $color-gray-text;
    }

    .reviews-list-header-left{
        width: 70%;
    }
    .reviews-list-header-right{
        width: 30%;
        display: flex;
        align-items: center;

        .review-list-title{
            flex: 1;
            width: 50%;
            padding-left: 15px;
        }
    }

    @media (max-width: $screen-xs-max) {
        display: none;
    }
}
.goods-reviews-list{
    .review-list-item{
        display: flex;
        align-items: flex-start;
        padding: 20px;
        background-color: $color-white;
        border-radius: 10px;

        @media (max-width: $screen-xs-max) {
            display: block;
        }

        .review-list-item-left{
            width: 70%;
            display: flex;
            align-items: flex-start;

            .review-list-item-img{
                width: 120px;
                min-width: 120px;
                height: 140px;
                background: $color-light-gray 50% 50% no-repeat;
                background-size: cover;
                margin-right: 30px;

                @media (max-width: $screen-xs-max) {
                    width: 80px;
                    min-width: 80px;
                    height: 100px;
                    margin-right: 15px;
                }
            }

            @media (max-width: $screen-xs-max) {
                width: auto;
            }
        }

        &.photo-review-item{
            .review-list-item-left{
                .review-list-item-img{
                    min-width: 180px;
                    width: 180px;
                    height: 180px;

                    @media (max-width: $screen-xs-max) {
                        width: 100px;
                        min-width: 100px;
                        height: 100px;
                        margin-right: 15px;
                    }
                    @media (max-width: 360px) {
                        width: 70px;
                        min-width: 70px;
                        height: 70px;
                        margin-right: 10px;
                    }
                }
            }
            .goods-photoes-item-title{
                line-height: 1.1;
            }
        }

        .review-list-item-right{
            width: 30%;
            display: flex;
            align-items: flex-start;

            .review-list-item-right-text{
                width: 50%;
                padding-left: 15px;
                flex: 1;
                color: $color-gray-text;
                white-space: nowrap;
                padding-top: 7px;
            }

            @media (max-width: $screen-xs-max) {
                width: auto;
                padding-left: 100px;
            }
            @media (max-width: 360px) {
                width: auto;
                padding-left: 65px;
            }
        }

        .review-list-item-text{
            max-width: 600px;
            font-size: 16px;
            margin-top: 15px;

            @media (max-width: $screen-xs-max) {
                font-size: 13px;
                margin: 10px 0 0;
            }
        }
        .review-list-item-caption-header{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media (max-width: $screen-xs-max) {
                display: block;
            }
        }
        .review-list-item-caption-title{
            font-size: 22px;
            font-weight: 600;
            color: $color-black;
            margin-right: 10px;
            display: inline-block;

            &:hover{text-decoration: none;color: $color-red;}

            @media (max-width: $screen-xs-max) {
                font-size: 16px;
                margin: 0;
            }
        }
        .good-art{
            padding-top: 3px;
            white-space: nowrap;
            color: $color-gray-text;
        }

        .hidden-title{
            font-weight: 600;
            margin-right: 4px;
            display: none;

            @media (max-width: $screen-xs-max) {
                display: block;
                margin-bottom: 2px;
            }
        }
    }

    .review-list-item + .review-list-item{margin-top: 30px;}

}



.goods-photoes-list{
    display: flex;
    align-items: stretch;
    margin: 0 -15px;
    flex-wrap: wrap;

    @media (max-width: $screen-sm-max) {
        display: block;
    }
}

.goods-photoes-col{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 30px;
    width: 50%;

    @media (max-width: $screen-sm-max) {
        width: auto;
    }
}

.goods-photoes-item{
    position: relative;
    flex: 1;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    padding: 20px;

}

.goods-photoes-img-wrap{
    width: 180px;
    min-width: 180px;
    margin-right: 25px;

    @media (max-width: $screen-sm-max) {
        margin-right: 15px;
        width: 90px;
        min-width: 90px;
    }
}
.goods-photoes-item-caption{
    flex: 1;
}
.goods-photoes-date{
    margin-top: 10px;
    white-space: nowrap;
    color: $color-gray-text-2;
    font-size: 16px;

    @media (max-width: $screen-sm-max) {
       font-size: 12px;
    }
}

.goods-photoes-item-title{
    font-size: 22px;
    font-weight: 600;
    color: $color-black;
    margin-bottom: 15px;

    @media (max-width: $screen-sm-max) {
        font-size: 18px;
    }
}
.photoes-catalogue-item + .photoes-catalogue-item{margin-top: 10px;}
.photoes-catalogue-item{
    a{
        color: $color-black;
        font-size: 16px;

        &:hover{color: $color-red;text-decoration: none;}
        @media (max-width: $screen-sm-max) {
            font-size: 14px;
        }
    }
}
.photoes-catalogue-item-params{
    margin: 5px -5px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: $screen-sm-max) {
        font-size: 12px;
        display: block;
    }

    .photoes-catalogue-item-param{
        margin: 0 5px 4px;
        white-space: nowrap;
        color: $color-gray-text-2;
    }
}

.popup-goods-photo{
    width: 900px;
    padding: 0!important;

    @media (max-width: $screen-sm-max) {
        width: 100%;
    }

    .goods-photoes-img-wrap{
        width: 400px;
        min-width: 400px;
        img{width: 100%;}

        @media (max-width: $screen-xs-max) {
            width: 250px;
            min-width: 250px;
        }
        @media (max-width: $screen-xxs) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    .goods-photoes-item{
        @media (max-width: $screen-xxs) {
            display: block;
        }
    }

}

