.personal-form{
    .auth-form-section{margin-top: 0;margin-bottom: 60px;}
    .login-form{max-width: 440px;}
    .btn{min-width: 170px;}
    h3{
        font-size: 30px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 20px;

        @media (max-width: $screen-xs-max) {
            font-size: 24px;
        }
    }
    h4{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
        @media (max-width: $screen-xs-max) {
            font-size: 18px;
        }
    }

    .personal-avatar-container{
        max-width: 170px;

    }

    .personal-avatar{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background: $color-white url('../../assets/no-img.jpg') 50% 50% no-repeat;
        background-size: cover;
        margin-bottom: 10px;
    }

    .personal-avatar-ctrls{
        display: flex;
        flex-direction: column;
        align-items: center;

        a{
            font-size: 14px;
            font-weight: 700;
            color: $color-blue;
            text-decoration: underline;
            display: inline-block;
            line-height: 1.1;

            &:focus{color: $color-blue;}
            &:hover{color: $color-red;text-decoration: none;}
        }
        a+a{margin-top: 10px;}
    }
}


.tags-area{
    position: relative;
    margin-top: 60px;

    input{
        height: 22px;
        border: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        width: auto;
    }

    .tags-area-text{
        position: absolute;
        z-index: 10;
        left: 20px;
        bottom: 12px;
        pointer-events: none;
        color: $color-dark;
    }

    .bootstrap-tagsinput{
        box-shadow: none;
        border: 1px solid #a8b2c0;
        background-color: $color-white;
        border-radius: 0;
        padding: 15px 20px 50px;
        display: flex;
        flex-wrap: wrap;
        min-height: 95px;


        .tag{
            height: 22px;
            background-color: $color-blue;
            color: $color-white;
            position: relative;
            border-radius: 11px;
            display: flex;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            padding: 0 10px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
}

.card-info{
    font-size: 16px;
    color: rgba(0,0,0,.7);
    margin-bottom: 30px;

    span{display: inline-block;font-size: 18px;font-weight: 700;margin-left: 10px;color: $color-black;}
}

.bonus-value{color: $color-red;text-align: right;margin-top: 4px;font-weight: 600;text-transform: unset;white-space: nowrap;}

.checkbox-switcher{

    label{
        display: inline-block;
        cursor: pointer;

        input{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }

    &-label{
        position: relative;
        padding: 6px 0 6px 75px;
        font-size: 18px;
        font-weight: 700;
        color: $color-black;

        .no-act{display: inline;}
        .act{display: none;}

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 60px;
            height: 35px;
            border-radius: 17px;
            border: 1px solid $color-gray-text;
            transition: border-color .2s ease-out;
        }
        &:after{
            content: '';
            position: absolute;
            transition: background-color .2s ease-out, transform .25s ease-out;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-color: $color-gray-text;
            left: 5px;
            top: 6px;
        }
    }

    input:checked + &-label{
        &:before{border-color: $color-red;}
        &:after{background-color: $color-red;transform: translateX(26px);}

        .no-act{display: none;}
        .act{display: inline;}
    }
}

.remove-account-section{
    margin-top: 100px;
    max-width: 470px;

    &-title{
        font-size: 22px;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 15px;
    }
    &-text{
        font-size: 16px;
        line-height: 1.5;
    }

    &-btn{margin-top: 30px;max-width: 210px;}
}

.children-section{
    display: none;

    &.active{
        display: block;
    }

    .count-inputs{
        input, a{
            height: 40px;
        }
    }
    .children-amount{
        display: flex;
        align-items: center;

        &-title{margin-right: 5px;font-size: 16px;color: rgba(0,0,0,.7)}
    }
}

.datepicker-input{
    background-image: url('../../assets/calendar.svg');
    background-position: 100% 50%;
    background-size: 30px 20px;
    background-repeat: no-repeat;
}

.child-item{
    padding-top: 30px;

    .child-item-title{
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1.1;
    }
    &:only-child{
        .child-item-title{
            display: none;
        }
    }
}
