.table-responsive{
    position: relative;

    @media (max-width: $screen-xs-min) {
        overflow-scrolling: touch;
        width: auto;
        margin-left: -15px;
        margin-right: -15px;
        overflow-x: auto;
        padding: 0 15px;
    }

    table{
        width: 100%;

        @media (max-width: $screen-xs-min) {
            white-space: nowrap;
            font-size: 14px;
        }
    }
}
.table-default{
    font-size: 16px;

    th{
        text-align: left;
        font-weight: 400;
        padding: 8px 10px;
        color: $color-gray-text;
        background-color: $color-light-gray;
        line-height: 1.2;
    }
    td{
        background-color: $color-white;
        padding: 13px 15px;
        text-align: left;
        vertical-align: top;
    }
    tr:nth-child(even) td{
        background-color: $color-light-gray;
    }

    a{
        color: $color-black;
        text-decoration: underline;
        &:focus{color: $color-black;}
        &:hover{color: $color-red;text-decoration: none;}
    }

}
.stat-table{
    td{
        font-weight: 700;
        white-space: nowrap;
        text-transform: uppercase;
    }
}
.stat-table th:nth-child(2),
.stat-table td:nth-child(2){text-align: left;}

.table-responsive-large{

    @media (max-width: $screen-sm-max) {
        overflow-x: auto;
    }
    @media (max-width: $screen-xs-max) {
        margin-left: -15px;
        margin-right: -15px;
    }

    table{
        @media (max-width: $screen-sm-max) {
            min-width: 900px;
        }
    }
}
