.team-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    align-items: stretch;

    @media (max-width: $screen-xs-min) {
        display: block;
    }

    .team-col{
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin-bottom: 30px;
        width: 25%;

        @media (max-width: $screen-sm-max) {
            width: 33.3%;
        }
        @media (max-width: $screen-xs-max) {
            width: 50%;
        }
        @media (max-width: $screen-xs-min) {
            width: auto;
        }
    }

    .team-item{
        flex: 1;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
        background-color: $color-dark-blue;
        color: $color-white;
        min-height: 400px;
        text-decoration: none;
        transition: background-color .2s ease-out, color .2s ease-out, box-shadow .2s ease-out;

        &:focus{color: $color-white;}
        &:hover{
            color: $color-white;
            text-decoration: none;
            background-color: $color-red;
        }

        &.team-item-player{
            background-color: $color-blue;
            &:hover{
                background-color: $color-red;
            }
        }

        .team-item-img{
            flex: 1;
            min-height: 220px;
            background: $color-blue url('../../assets/no-img.jpg') 50% 50% no-repeat;
            background-size: cover;

            @media (max-width: $screen-xs-min) {
                min-height: auto;
            }

            img{
                display: none;
                @media (max-width: $screen-xs-min) {
                    display: block;
                    width: 100%;
                }
            }



        }

        .team-item-bottom,
        .team-item-header{
            padding: 15px 20px;
        }

        .team-item-name-container{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            line-height: 1.1;
            margin-bottom: 5px;

            .team-item-num{
                white-space: nowrap;
                margin-left: 15px;
                font-size: 30px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1;

                @media (max-width: $screen-xs-min) {
                    font-size: 24px;
                }
            }
            .team-item-name{
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 700;

                @media (max-width: $screen-xs-min) {
                    font-size: 18px;
                }
            }
        }

        .team-item-bottom{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            line-height: 1.3;

            span{
                display: inline-block;
                white-space: nowrap;
            }

            p{margin: 0;}
            p+p{margin-top: 4px;}
        }
        .team-item-signature{
            max-width: 50%;
            text-align: right;
            padding-left: 15px;

            @media (max-width: $screen-sm-max) {
                max-width: 40%;
            }
        }
    }
}

.no-touchevents .team-item:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}



.team-photo{
    margin: 60px 0;

    &:first-child{margin-top: 0;}

    img{width: 100%;}
}

.team-list-section{
    margin: 60px 0;
}
.page-filter + .team-list-section{margin-top: 0;}

.team-list-table{
    .table-default{
        td{
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .table-responsive{
        position: relative;

        @media (max-width: $screen-xs-max) {
            overflow-scrolling: touch;
            width: auto;
            margin-left: -15px;
            margin-right: -15px;
            overflow-x: auto;
            padding: 0 15px;
        }

        table{
            width: 100%;

            @media (max-width: $screen-xs-max) {
                white-space: nowrap;
            }
        }
    }
}

.text-date{
    display: inline-block;
    white-space: nowrap;
}

.awards-list{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
    @media (max-width: $screen-xs-min) {
        display: block;
        margin-bottom: 0;
    }

    .awards-col{
        width: 50%;
        padding: 0 15px;

        @media (max-width: $screen-xs-max) {
            width: auto;
        }
    }

    &.dance-team-awards-list{
        .awards-col{
            width: 33.3%;

            @media (max-width: $screen-xs-max) {
                width: 50%;
            }
            @media (max-width: $screen-xs-min) {
                width: auto;
            }
        }

        .awards-item-text{
            max-width: 220px;
        }
    }

    .awards-item{
        position: relative;
        margin-bottom: 30px;
        padding-left: 75px;
        min-height: 70px;

        @media (max-width: $screen-sm-max) {
            padding-left: 45px;
        }

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 47px;
            height: 70px;
            background: transparent url('../../assets/award.svg') 50% 50% no-repeat;
            background-size: contain;

            @media (max-width: $screen-sm-max) {
                width: 30px;
                height: 50px;
            }
        }
        .awards-item-year{
            font-size: 22px;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 10px;
        }
        .awards-item-text{
            font-size: 16px;
        }
    }
}

.administration-list{
    display: flex;
    align-items: stretch;
    margin: 0 -15px;
    flex-wrap: wrap;

    &-col{
        width: 50%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }

    &-item{
        flex: 1;
        color: $color-white;
        text-decoration: none!important;
        position: relative;
        display: block;
        background-color: $color-blue;
        min-height: 200px;
        padding-left: 170px;

        &:focus{color: $color-white;}
        &:hover{color: $color-white;background-color: $color-red;}

        @media (max-width: $screen-xs-min) {
            padding-left: 115px;
            min-height: 180px;
        }

        &-img{
            position: absolute;
            left: 0;
            top: 0;
            width: 170px;
            height: 100%;
            background: transparent url('../../assets/no-img.jpg') 50% 50% no-repeat;
            background-size: cover;

            @media (max-width: $screen-xs-min) {
                width: 115px;
            }
        }

        &-caption{
            padding: 20px;
            span{display: inline-block;}
        }

        &-name{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 1px;
            line-height: 1.1;
            text-transform: uppercase;
        }

        &-text{
            margin-top: 10px;
            p{margin: 0 0 3px;}
        }

    }


}

.team-detail-top{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: stretch;
    margin-bottom: 60px;

    @media (max-width: $screen-xs-max) {
        margin-bottom: 40px;
        display: block;
    }

    &:before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 100vw;
        transform: translateX(-50%);
        min-width: 100%;
        background: $color-dark-blue url('../../assets/player-top-bg.jpg') 100% 0% no-repeat;
        background-size: auto 900px;
        z-index: -1;
        @media (max-width: $screen-xs-max) {
            background-image: none;
        }
    }

    &-left{
        width: 50%;
        @media (max-width: $screen-xs-max) {
            width: auto;
        }
    }

    &-right{
        width: 50%;
        padding: 40px 0;
        color: $color-white;

        @media (max-width: $screen-xs-max) {
            width: auto;
            padding: 25px 15px;
        }

        &:only-child{
            width: 100%;
            .team-detail-params .team-detail-param{
                width: 25%;

                @media (max-width: $screen-xs-max) {
                    width: 100%;
                }
            }
        }
    }
    .team-detail-header{
        display: flex;
        align-items: flex-start;
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 25px;

        @media (max-width: $screen-sm-max) {
            font-size: 30px;
        }

        h1{
            color: $color-white;
            margin: 0;
            line-height: inherit;
            font-size: inherit;
        }
        .team-detail-header-num{
            margin-left: 20px;
            color: $color-red;
        }
    }

    .team-detail-header-post{margin-top: -15px;margin-bottom: 25px;font-size: 16px;}

    .team-detail-params{
        display: flex;
        align-items: flex-start;
        margin: 0 -15px -30px;
        flex-wrap: wrap;

        .team-detail-param{
            padding: 0 15px;
            width: 50%;
            margin-bottom: 30px;

            @media (max-width: $screen-xs-max) {
                width: 100%;
            }

            &.small-param{
                width: 33.3%;

                @media (max-width: $screen-sm-max) {
                    width: 50%;
                }
            }
            &.large-param{
                width: 100%;
            }

            &-title{font-size: 16px;line-height: 1.2;margin-bottom: 3px;}
            &-text{
                font-size: 26px;
                line-height: 1.35;
                font-weight: 700;

                @media (max-width: $screen-sm-max) {
                    font-size: 20px;
                }
            }
        }
    }

    .team-detail-btn{
        margin-top: 30px;
        .btn{
            width: auto;
            font-weight: 600;
            font-size: 18px;
            padding: 0 35px;

            @media (max-width: $screen-xs-max) {
                width: 100%;
                padding: 0 15px;
                font-size: 13px;
            }
        }
    }
}

.team-detail-gallery{
    max-width: 470px;
    margin-right: 70px;
    position: relative;


    @media (max-width: $screen-sm-max) {
        margin-right: 30px;
        max-width: none;
        margin-left: -30px;
    }
    @media (max-width: $screen-xs-max) {
        margin-right: -15px;
        margin-left: -15px;

        img{width: 100%;}
    }
}

.team-detail-info{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;

    @media (max-width: $screen-xs-max) {
        display: block;
    }

    .team-detail-info-col{
        width: 50%;
        padding: 0 15px;

        @media (max-width: $screen-xs-max) {
            width: auto;
        }

        & + .team-detail-info-col{
            @media (max-width: $screen-xs-max) {
                margin-top: 30px;
            }
        }

        &.col-small{
            width: 33.3%;

            @media (max-width: $screen-xs-max) {width: auto;}
        }
    }

}


.team-detail-career{
    display: flex;
    align-items: flex-start;

    .career-year{
        min-width: 100px;
        padding-right: 15px;
        font-size: 18px;
        font-weight: 700;
        color: $color-black;
        line-height: 1.22;
    }
    .career-text{
        flex: 1;
        line-height: 1.4;
        font-size: 16px;
    }

    &+.team-detail-career{margin-top: 20px;}
    h3{margin-bottom: 10px;}
}

.team-detail-achievements{
    display: flex;
    align-items: flex-start;

    &+.team-detail-achievements{margin-top: 35px;}

    .team-detail-achievements-year{
        min-width: 100px;
        padding-right: 15px;
        font-size: 22px;
        font-weight: 700;
        color: $color-black;
        line-height: 1.22;
    }
    .team-detail-achievements-text{
        flex: 1;
        font-size: 16px;
        line-height: 1.5;
    }
    h3{margin-bottom: 10px;}
}

.player-stat-table{
    width: 100%;

    thead{
        th{
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            padding: 0 5px 15px;
            line-height: 1.4;
            color: rgba(0,0,0,.7);
            vertical-align: top;

            &:first-child{text-align: left;padding-left: 15px;}
        }
    }

    tbody{
        tr.row-parent{
            cursor: pointer;

            .row-toggle{
                display: block;
                padding-right: 15px;
                font-size: 14px;
                text-transform: uppercase;
                color: $color-black;
                position: relative;
                max-width: 115px;
                line-height: 1.3;
                transition: color .2s ease-out;

                &:after{
                    content: '';
                    position: absolute;
                    right: 3px;
                    top: 4px;
                    width: 8px;
                    height: 8px;
                    border-right: 2px solid;
                    border-bottom: 2px solid;
                    transform: rotate(45deg);
                }
            }

            &:hover{
                .row-toggle{color: $color-red;}
            }
            &.active{
                .row-toggle:after{
                    transform: rotate(-135deg);
                    top: 8px;
                }
            }
        }
        td{
            text-align: center;
            background-color: $color-white;
            vertical-align: top;
            padding: 15px 5px;
            font-weight: 600;
            line-height: 1.1;
            text-transform: uppercase;

            &:first-child{padding-left: 15px;text-align: left;}

        }

        .hidden-row{
            &:not(.row-active){
                display: none!important;
            }
            td{
                background-color: $color-dark-gray;
            }
        }

        .row-delimiter{
            td{
                padding: 0;
                background-color: transparent;
                height: 30px;

                @media (max-width: $screen-xs-max) {
                    height: 10px;
                }
            }
        }

        .row-summary{
            td{
                padding: 0 5px 10px;
                font-size: 14px;
                line-height: 1;
                color: $color-gray-text-2;
            }
        }
        .hidden-row.row-active +  .row-summary td{padding-top: 10px;}
    }
}

.no-br{white-space: nowrap;}

.players-compare-container{
    display: flex;
    align-items: flex-start;

    .players-compare-chart{
        width: 40%;
    }
    .players-compare-list{
        width: 60%;
        margin-left: 30px;
    }
}


