$color-white: #ffffff;
$color-black: #000000;
$color-violent: #5F62AC;
$color-dark-violent: #4A439D;
$color-gray: #E5E5E5;
$color-light-gray: #C4C4C4;
$color-yellow: #F0C630;
$color-red: #EE4713;

$font-base: 'Roboto', 'Verdana', sans-serif;

/* Screen sizes */
$screen-xs:576px;
$screen-sm:768px;
$screen-md:1000px;
$screen-lg:1200px;
$screen-ml:1400px;
$screen-xl:1600px;
$screen-ul:1900px;

$screen-xs-min:$screen-xs;
$screen-xs-max:($screen-sm - 1);
$screen-sm-min:$screen-sm;
$screen-sm-max:($screen-md - 1);
$screen-md-min:$screen-md;
$screen-md-max:($screen-lg - 1);
$screen-lg-min:$screen-lg;
$screen-lg-max:($screen-ml - 1);
$screen-ml-min:$screen-ml;
$screen-ml-max:($screen-xl - 1);
$screen-xl-min:$screen-xl;
$screen-xl-max:($screen-ul - 1);
$screen-ul-min:$screen-ul;
