<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mediapronet</title>
    <meta name="twitter:card" value="Mediapronet">
    <meta name="Description" content="Mediapronet"/>
    <meta property="og:title" content="Mediapronet" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Mediapronet" />
    <meta name="theme-color" content="#001b3f">
    <meta name="msapplication-navbutton-color" content="#001b3f">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

</head>
    <body>
        <div class="page-wrap">
            <div class="header-bck"></div>
            <header class="header">
                <div class="container-fluid">
                    <div class="header-content">
                        <a href="#" class="logo"></a>
                        <div class="header-menu">
							<a href="#" class="mobile-menu-toggle"><div class="menu-toggle"><span></span><span></span><span></span></div></a>
                            <ul class="header-menu-container">
                               <li><a href="#aboutSection">Описание</a></li>
                               <li><a href="#contactsSection">Локация</a></li>
                               <li><a href="#objectsSection">Смотрите также</a></li>
                               <li><a href="#formSection">Запись на просмотр</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <main class="page-content">
                <div class="main-top">
                    <div class="main-slider js-main-slider">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="container-fluid">
                                    <div class="main-slide-content">
                                        <div class="main-slide-title">Многофункциональный жилой квартал HEADLINER</div>
                                        <div class="main-slide-text">Сдача — 4 кв. 2022, есть сданные</div>
                                    </div>
                                </div>
                                <img class="main-slide-img" src="<%= require('./src/assets/main-top-img.jpg') %>" alt="logo" />
                            </div>
                            <div class="swiper-slide">
                                <div class="container-fluid">
                                    <div class="main-slide-content">
                                        <div class="main-slide-title">Многофункциональный жилой квартал HEADLINER</div>
                                        <div class="main-slide-text">Сдача — 4 кв. 2022, есть сданные</div>
                                    </div>
                                </div>
                                <img class="main-slide-img" src="<%= require('./src/assets/main-top-img.jpg') %>" alt="logo" />
                            </div>
                            <div class="swiper-slide">
                                <div class="container-fluid">
                                    <div class="main-slide-content">
                                        <div class="main-slide-title">Многофункциональный жилой квартал HEADLINER</div>
                                        <div class="main-slide-text">Сдача — 4 кв. 2022, есть сданные</div>
                                    </div>
                                </div>
                                <img class="main-slide-img" src="<%= require('./src/assets/main-top-img.jpg') %>" alt="logo" />
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>

                    </div>
                </div>
                <div class="page-section" id="aboutSection">
                    <div class="container-fluid">
						<div class="tabs-content">
							<div class="page-section-nav-container">
								<div class="page-section-nav">
									<a href="#tab_1" class="nav-link active">Плюсы и минусы</a>
									<a href="#tab_2" class="nav-link">Аэротур</a>
									<a href="#tab_3" class="nav-link">Планировки</a>
									<a href="#tab_4" class="nav-link">Застройщик</a>
								</div>
							</div>

							<div class="tab-pane active" id="tab_1">
								<div class="row">
									<div class="col">
										<div class="advantages-list">
											<div class="advantages-item item-positive">Привлекательная архитектура</div>
											<div class="advantages-item item-positive">Большой выбор квартир</div>
											<div class="advantages-item item-positive">Поразительные виды из окон</div>
											<div class="advantages-item item-positive">Сложившийся район со всем необходимым</div>
											<div class="advantages-item item-positive">Сравнительно низкие цены</div>
										</div>
									</div>
									<div class="col">
										<div class="advantages-list">
											<div class="advantages-item item-negative">Недостаток собственной инфраструктуры</div>
											<div class="advantages-item item-negative">Частые пробки вокруг</div>
											<div class="advantages-item item-negative">Не лучшая экология</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab_2">
								TAB 2
							</div>
							<div class="tab-pane" id="tab_3">
								TAB 3
							</div>
							<div class="tab-pane" id="tab_4">
								TAB 4
							</div>
						</div>
                    </div>
                </div>

				<div class="page-section section-violent">
					<div class="container-fluid">
						<div class="preview-announce">
							<div class="preview-announce-text">Запишитесь на просмотр и оцените всё сами!</div>
							<div class="preview-announce-btn">
								<a href="#formSection" class="btn btn-white-transparent js-scroll-to">Запись на просмотр</a>
							</div>
						</div>
					</div>
				</div>

				<div class="page-section" id="contactsSection">
					<div class="container-fluid">
						<h2>Локация</h2>
						<div class="contacts-info">
							<div class="contacts-info-text">Москва, ЦАО, Пресненский, Шмитовский проезд, вл. 39</div>
							<div class="subways-list">
								<div class="subways-list-item line-blue">
									<a href="javascript:;" class="subway-link">Шелепиха</a>
									<div class="subway-time">5 мин пешком</div>
								</div>
								<div class="subways-list-item line-red">
									<a href="javascript:;" class="subway-link">Шелепиха</a>
									<div class="subway-time">6 мин на транспорте</div>
								</div>
							</div>
						</div>
						<div class="map-container">
							<div class="contacts-map" id="map_contacts"></div>
							<div class="map-objects">
								<div class="map-objects-list">
									<div class="checkbox">
										<label>
											<input type="checkbox" />
											<div class="check-icon"></div>
											<div class="check-text">Школы</div>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" />
											<div class="check-icon"></div>
											<div class="check-text">Аптеки</div>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" />
											<div class="check-icon"></div>
											<div class="check-text">Высшие учебные заведения</div>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" />
											<div class="check-icon"></div>
											<div class="check-text">Больницы</div>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" />
											<div class="check-icon"></div>
											<div class="check-text">Магазины</div>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" />
											<div class="check-icon"></div>
											<div class="check-text">Фитнес</div>
										</label>
									</div>
								</div>
								<a href="#" class="map-objects-toggle">Объекты инфраструктуры</a>
							</div>
						</div>
					</div>

					<script src="https://api-maps.yandex.ru/2.1/?apikey=d69c3ff8-a123-4f55-9726-39500bf72472&amp;lang=ru_RU" type="text/javascript"></script>
					<script type="text/javascript">
						ymaps.ready(init);
						function init(){
							var myMap = new ymaps.Map("map_contacts", {
								center: [55.751699, 37.526093],
								zoom: 16
							});
							myMap.behaviors.disable('multiTouch');
							myMap.behaviors.disable('scrollZoom');
							var myPlacemark = new ymaps.Placemark( myMap.getCenter(), {
								hintContent: 'Шмитовский проезд, 39',
								balloonContent: 'Многофункциональный жилой квартал HEADLINER',
							});
							myMap.geoObjects.add(myPlacemark);
						}
					</script>
				</div>

				<div class="page-section" id="objectsSection">
					<div class="container-fluid">
						<h2>Смотрите также</h2>
						<div class="objects-list">
							<div class="objects-list-col">
								<a href="#" class="object-item">
									<div class="object-item-img">
										<img src="<%= require('./src/assets/object-1.jpg') %>" alt="object 1" />
										<div class="object-item-img-caption">
											<div class="object-item-price">8 217 030 - 29 070 951₽</div>
											<div class="object-item-caption-text">569 квартир в продаже</div>
										</div>
									</div>
									<div class="object-item-title">ЖК «Level Стрешнево» (Левел Стрешнево)</div>
									<div class="object-item-adress">Москва, СВАО</div>
									<div class="object-item-info">
										<div class="object-item-subway line-blue">Алексеевская</div>
										<div class="object-item-time">5 мин</div>
									</div>
								</a>
							</div>
							<div class="objects-list-col">
								<a href="#" class="object-item">
									<div class="object-item-img">
										<img src="<%= require('./src/assets/object-2.jpg') %>" alt="object 2" />
										<div class="object-item-img-caption">
											<div class="object-item-price">8 217 030 - 29 070 951₽</div>
											<div class="object-item-caption-text">569 квартир в продаже</div>
										</div>
									</div>
									<div class="object-item-title">ЖК «Новое Медведково»</div>
									<div class="object-item-adress">Москва, СВАО</div>
									<div class="object-item-info">
										<div class="object-item-subway line-red">Алексеевская</div>
										<div class="object-item-time">5 мин</div>
									</div>
								</a>
							</div>
							<div class="objects-list-col">
								<a href="#" class="object-item">
									<div class="object-item-img">
										<img src="<%= require('./src/assets/object-3.jpg') %>" alt="object 3" />
										<div class="object-item-img-caption">
											<div class="object-item-price">8 217 030 - 29 070 951₽</div>
											<div class="object-item-caption-text">569 квартир в продаже</div>
										</div>
									</div>
									<div class="object-item-title">ЖК «Люберецкий»</div>
									<div class="object-item-adress">Москва, СВАО</div>
									<div class="object-item-info">
										<div class="object-item-subway line-red">Алексеевская</div>
										<div class="object-item-time">5 мин</div>
									</div>
								</a>
							</div>
							<div class="objects-list-col">
								<a href="#" class="object-item">
									<div class="object-item-img">
										<img src="<%= require('./src/assets/object-4.jpg') %>" alt="object 4" />
										<div class="object-item-img-caption">
											<div class="object-item-price">8 217 030 - 29 070 951₽</div>
											<div class="object-item-caption-text">569 квартир в продаже</div>
										</div>
									</div>
									<div class="object-item-title">ЖК «Измайловский лес»</div>
									<div class="object-item-adress">Москва, СВАО</div>
									<div class="object-item-info">
										<div class="object-item-subway line-red">Алексеевская</div>
										<div class="object-item-time">5 мин</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="page-section section-violent" id="formSection">
					<div class="container-fluid">
						<form class="order-form" method="post">
							<div class="form-content">
								<h2>Запишитесь на просмотр и оцените всё сами!</h2>
								<div class="form-group">
									<input type="text" placeholder="Как вас зовут?" />
								</div>
								<div class="row row-small">
									<div class="col">
										<div class="form-group">
											<select>
												<option>16 сентября</option>
												<option>16 сентября</option>
												<option>16 сентября</option>
											</select>
										</div>
									</div>
									<div class="col">
										<div class="form-group">
											<select>
												<option>14:00</option>
												<option>14:00</option>
												<option>14:00</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<input type="tel" placeholder="Ваш телефон" />
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" />
										<div class="check-icon"></div>
										<div class="check-text">Напомните мне за 2 часа до визита</div>
									</label>
								</div>
								<div class="form-btn">
									<button type="submit" class="btn btn-white">Отправить</button>
								</div>
							</div>
						</form>
					</div>
				</div>

            </main>

            <footer class="footer">
				<div class="container-fluid">
					<div class="footer-content">
						<div class="footer-col">
							<div class="footer-menu-section">
								<a href="#" class="footer-menu-title footer-menu-toggle">Новостройки</a>
								<ul class="footer-menu-list">
									<li><a href="#">Квартиры в Москве</a></li>
									<li><a href="#">Квартиры в Новой Москве</a></li>
									<li><a href="#">Квартиры в Подмосковье</a></li>
									<li><a href="#">В Москве</a></li>
									<li><a href="#">В Подмосковье</a></li>
									<li><a href="#">В Новой Москве</a></li>
								</ul>
							</div>
						</div>
						<div class="footer-col">
							<div class="footer-menu-section">
								<a href="#" class="footer-menu-title footer-menu-toggle">Популярное</a>
								<ul class="footer-menu-list">
									<li><a href="#">В рассрочку</a></li>
									<li><a href="#">Военная ипотека</a></li>
									<li><a href="#">До 4 млн</a></li>
									<li><a href="#">До 6 млн</a></li>
									<li><a href="#">Внутри МКАД</a></li>
								</ul>
							</div>
						</div>
						<div class="footer-col">
							<div class="footer-contacts">
								<div class="footer-menu-title">Рекламный отдел</div>
								<a href="tel:+74959874247">+7 (495) 987-42-47</a> доб. 501<br />
								<a href="mailto:kp@novostroy-m.ru">kp@novostroy-m.ru</a>
							</div>
						</div>
						<div class="footer-col">
							<div class="copyright">© 2011—2020 Новострой-М <br />Всё, что нужно знать о новостройках</div>
						</div>
					</div>
				</div>
            </footer>
        </div>
    </body>
</html>
