<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Официальный магазин клуба | ПБК ЦСКА</title>
    <meta name="twitter:card" value="Официальный магазин клуба | ПБК ЦСКА">
    <meta name="Description" content="Сувенирная продукция и форма баскетбольного ЦСКА"/>
    <meta property="og:title" content="Официальный магазин клуба | ПБК ЦСКА" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Сувенирная продукция и форма баскетбольного ЦСКА" />
    <meta name="theme-color" content="#001b3f">
    <meta name="msapplication-navbutton-color" content="#001b3f">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap" rel="stylesheet">

</head>
    <body class="header-main header-no-auth">
        <div class="page-wrap">
            <header class="header">
                <div class="header-top">
                    <div class="container-fluid">
                        <div class="header-top-content">
                            <div class="header-top-menu">
                                <ul>
                                    <li><a href="#">Официальный сайт ПБК ЦСКА</a></li>
                                    <li><a href="#">Билеты</a></li>
                                    <li><a href="#">Интернет-магазин</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="header-ctrls">
                                <a href="#" class="lang-change">eng</a>
                                <a href="tel:+74952252600" class="header-phone">+7 (495) 225-2600</a>
                                <div class="work-time">9:00 - 21:00 МСК</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="page-content">
                <div class="main-page-top">
                    <div class="container-fluid">
                        <div class="main-page-top-content">
                            <div class="main-page-top-img">
                                <img src="<%= require('./src/assets/main-top-img.jpg') %>">
                            </div>
                            <div class="main-page-top-caption">
                                <h1>CSKA Bonus</h1>
                                <div class="main-page-top-caption-text">
                                    Клубная карта болельщиков ЦСКА
                                    <br><br>
                                    Зарабатывайте бонусы за покупку билетов или атрибутики и получайте скидки на новые покупки!
                                </div>
                                <div class="main-page-top-caption-btns">
                                    <a href="#" class="btn btn-white btn-large">Войти</a>
                                    <a href="#" class="btn btn-red btn-large">Зарегистрироваться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">

                    <div class="page-section">
                        <div class="page-section-header">
                            <h2>Преимущества CSKA Bonus</h2>
                        </div>
                        <div class="bonus-advantages">
                            <div class="bonus-advantages-col">
                                <div class="bonus-advantages-img" style="background-image: url('<%= require('./src/assets/advantage-1.jpg') %>')">
                                    <img src="<%= require('./src/assets/advantage-1.jpg') %>">
                                </div>
                                <div class="bonus-advantages-caption">
                                    <div class="bonus-advantages-title">Скидки на атрибутику</div>
                                    <div class="bonus-advantages-text">Получайте на бонусную карту до 15% от суммы покупок в интернет-магазине! Оплачивайте баллами до 50% от стоимости покупки. </div>
                                </div>
                            </div>
                            <div class="bonus-advantages-col">
                                <div class="bonus-advantages-img" style="background-image: url('<%= require('./src/assets/advantage-2.jpg') %>')">
                                    <img src="<%= require('./src/assets/advantage-2.jpg') %>">
                                </div>
                                <div class="bonus-advantages-caption">
                                    <div class="bonus-advantages-title">Скидки на билеты</div>
                                    <div class="bonus-advantages-text">Получайте на бонусную карту до 15% от стоимости купленных билетов! Бонусы можно потратить как при покупке билетов, так и в интернет-магазине.</div>
                                </div>
                            </div>
                            <div class="bonus-advantages-col">
                                <div class="bonus-advantages-img" style="background-image: url('<%= require('./src/assets/advantage-3.jpg') %>')">
                                    <img src="<%= require('./src/assets/advantage-3.jpg') %>">
                                </div>
                                <div class="bonus-advantages-caption">
                                    <div class="bonus-advantages-title">Дополнительные бонусы для болельщиков</div>
                                    <div class="bonus-advantages-text">Получайте подарки и бонусы на день рождения, эксклюзивные предложения и доступ на закрытые мероприятия с участием игроков клуба, звёзд музыки ТВ и кино. </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-section">
                        <div class="page-section-header">
                            <h2>Как это работает?</h2>
                        </div>
                        <div class="how-it-works">
                            <div class="how-it-works-col">
                                <div class="how-it-works-item">
                                    <div class="how-it-works-num">1</div>
                                    <div class="how-it-works-title">Как получить карту CSKA Bonus? </div>
                                    <div class="how-it-works-text">
                                        <p>1.  Получите бонусную карту, при покупке на сайте или в фирменном магазине</p>
                                        <p>2.  Закажите кобрендовую карту уникального дизайна «Сбербанк - ПБК ЦСКА» на сайте Сбербанка</p>
                                        <p>3. Скачайте карту в Google Pay или Apple Wallet в свой телефон, по ссылке из ЛК</p>
                                    </div>
                                </div>
                            </div>
                            <div class="how-it-works-col">
                                <div class="how-it-works-item">
                                    <div class="how-it-works-num">2</div>
                                    <div class="how-it-works-title">Получайте бонусы за покупки</div>
                                    <div class="how-it-works-text">
                                        <p>1.  Предъявите карту при покупке и получите кешбэк бонусами в кассах и магазинах Клуба</p>
                                        <p>2. При покупке атрибутики и билетов на сайте, бонусы начислятся автоматически</p>
                                        <p>3. Время действия бонусов и правила начисления определяются действующей <a href="#">программой поощрения</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="how-it-works-col">
                                <div class="how-it-works-item">
                                    <div class="how-it-works-num">3</div>
                                    <div class="how-it-works-title">Покупайте с выгодой</div>
                                    <div class="how-it-works-text">
                                        <p>1. Авторизуйтесь или активируйте карту в личном кабинете, если планируете покупать онлайн</p>
                                        <p>2. Сообщите, что у вас уже есть карта, если совершаете покупки в кассе или фирменном магазине</p>
                                        <p>3. Оплачивайте бонусами до 50% от суммы покупок, <a href="#">подробные правила CSKA Bonus</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </main>
            <footer class="footer">
                <div class="footer-content">
                    <div class="footer-auth-wrap">
                        <div class="container-fluid">
                            <div class="footer-auth">
                                <div class="footer-auth-form-title">Получить карту CSKA Bonus</div>
                                <div class="footer-auth-btns">
                                    <a href="#" class="btn btn-large btn-white">Войти</a>
                                    <a href="#" class="btn btn-large btn-white-border">Зарегистрироваться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-menu">
                        <div class="container-fluid">
                            <ul class="footer-menu-list">
                                <li><a href="#">Официальный сайт</a></li>
                                <li><a href="#">Билеты</a></li>
                                <li><a href="#">Интернет-магазин</a></li>
                                <li><a href="#">CSKA Bonus</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="container-fluid">
                            <div class="footer-bottom-content">
                                <div class="footer-logo-container">
                                    <div class="footer-logo"></div>
                                    <div class="footer-logo-info">
                                        <div class="footer-logo-title"></div>
                                        <div class="footer-copyright">
                                            Все права защищены<br>
                                            Copyright ® 1999-2020
                                        </div>
                                    </div>
                                </div>
                                <ul class="footer-links">
                                   <li><a href="#">Политика конфиденциальности</a></li>
                                   <li><a href="#">Клиентское соглашение</a></li>
                                   <li><a href="#">Обработка персональных данных</a></li>
                                   <li><a href="#">Результаты СОУТ</a></li>
                                   <li><a href="#">Правила продажи билетов</a></li>
                                </ul>
                                <div class="footer-info">
                                    <div class="footer-contacts">
                                        <p>125167, Москва,  Ленинградский пр. 39, стр. 3</p>
                                        <p><span>Телефон:</span> <a href="tel:+74952252662">+7 (495) 225-2662</a></p>
                                        <p><span>Факс:</span> +7 (495) 225-2661</p>
                                    </div>

                                    <div class="footer-socials">
                                        <a href="#" target="_blank"><span class="icon-youtube"></span></a>
                                        <a href="#" target="_blank"><span class="icon-facebook"></span></a>
                                        <a href="#" target="_blank"><span class="icon-twitter"></span></a>
                                        <a href="#" target="_blank"><span class="icon-instagram"></span></a>
                                        <a href="#" target="_blank"><span class="icon-vk"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
